.container.contact_container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.containor {
    width: var(--container-width-lg);
    margin: 0 auto;
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
}

.clasa {
    color: #663399;
    background: white;
    border-radius: 45px;
    width: 12em;
}


.h5 {
    color: gray;
}

.contact_option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border: 2px solid var(--color-primary-variant);
}

.contact_option:hover {
    background: #663399;
    border-color: var(--color-primary-variant);
    color: white;
}

.contact_option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
}

.contact_option a:hover {
    background: #BA55D3;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input, .textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);

}

@media screen and (max-width: 1024px) {
    .containor {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .containor {
        width: var(--container-width-sm);
        
    }
}