.enfoque {
    background-color: #8C52FF;
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    gap: 2em;
}

.images {
    display: flex;
    flex-direction: column-reverse;
}

.h1 {
    color: white;
    text-align: center;
    background-color: #8C52FF;
    margin-top: 1.5em;
    padding-left: 10em;
}


.enfoqueImagis {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media screen and (max-width: 600px) {
    .images {
        display: none;
    }
    .h1 {
        color: white;
    text-align: center;
    background-color: #8C52FF;
    margin-top: 1.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    }
    .enfoqueImagis {
        display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1em;
    }
}
